cache/
__pycache__/
*.py[cod]
.env
.venv/
env/
.json
cache/

# QGIS / Spatial
*.qgs~
*.qgz

# OS Junk
.DS_Store
Thumbs.db


# Uncomment the line below if your data is >100MB
# data/
maps/baroda_map.png-1.ppm
maps/baroda_map.png-1.ppm
*.ppm
